:root {
  --fill-colour: #4d5e20;
  --bg-colour: white;
  --hover-colour: #374316;
  --prefix-colour: #6b812c;
}

/* Fonts */
@font-face {
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Bubblegum Sans Regular'), local('BubblegumSans-Regular'),
       url('../fonts/bubblegum-sans-v9-latin-regular.woff2') format('woff2'),
       url('../fonts/bubblegum-sans-v9-latin-regular.woff') format('woff');
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img.jerrykan {
  max-height: 50%;
  max-width: 50%;
  transition: all 1s ease-out;
}
@media screen and (max-width: 600px) {
  img.jerrykan {
    max-width: 70%;
  }
}

p.jerrykan {
  font-family: 'Bubblegum Sans';
  font-size: 5vmin;
  text-align: center;
}

a {
  color: var(--fill-colour);
}
a:hover {
  color: var(--hover-colour);
}

/* Fun Stuff */
.affix, #prefix, #suffix {
  transition-property: opacity;
  transition-delay: 0.1s;
}
#prefix, #suffix {
  position: absolute;
  color: var(--prefix-colour);
  opacity: 0;
}
#prefix {
  transform: translateX(-100%);
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
  font-size: 40px;
  line-height: 1em;
}
#links div.group {
  display: flex;
}
#links a {
  margin: 0 .1em;
}
