/* SVG Icons */
.svi {
  fill: var(--fill-colour);
  height: 1em;
  width: 1em;
  vertical-align: middle;
  box-sizing: border-box;
}

.svi-lg { font-size: 1.25em; }
.svi-2x { font-size: 2em; }
.svi-3x { font-size: 3em; }
.svi-4x { font-size: 4em; }

.svi-square,
.svi-circle,
.svi-rounded {
  fill: var(--bg-colour);
  background-color: var(--fill-colour);
  padding: .22em;
  overflow: visible;
}

.svi-rounded { border-radius: 20%; }
.svi-circle { border-radius: 100%; }

.svi-inverse {
  fill: var(--fill-colour);
  background-color: transparent;
}

a:hover .svi {
  fill: var(--hover-colour);
}

a:hover .svi-square,
a:hover .svi-circle,
a:hover .svi-rounded {
  fill: var(--bg-colour);
  background-color: var(--hover-colour);
}
